body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

button {
  transition: background 0.3s;
}

button:disabled {
  cursor: not-allowed;
}

.Toastify {
  font-family: Arial, sans-serif;
  font-size: 16px;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Toastify__toast-theme--light {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
}
